body{
margin:0;
font-family:Arial;
}

.home{
background-image:url("mite.jpg");
background-size:cover;
background-position:center;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
color:white;
}

/* moving text animation */

.move{
font-size:60px;
animation:slide 2s ease-in-out infinite alternate;
}

.move2{
font-size:35px;
animation:slide2 2s ease-in-out infinite alternate;
}

@keyframes slide{
0%{transform:translateX(-50px);}
100%{transform:translateX(50px);}
}

@keyframes slide2{
0%{transform:translateY(-20px);}
100%{transform:translateY(20px);}
}
